#tumblr_controls { display:none; }
html { min-height:100% }
* { word-break: break-all }
body { padding-top:70px; background:radial-gradient(#fff, #999) }
a:hover { text-decoration: none }

::selection { background-color:#f9dc41; color:#333;}
::-moz-selection { background-color:#f9dc41; color:#333;}

.navbar-joostory { background-color:rgba(64,64,64,0.9); box-shadow:0 1px 3px #999; border:0 }
.navbar-joostory .navbar-brand { color:#f9dc41 }
.navbar-joostory .navbar-nav > li > a { color:#eef; background-color:transparent }
.navbar-joostory .navbar-nav > li > a:focus,
.navbar-joostory .navbar-nav > li > a:hover { color:#f9dc41; background-color:transparent }
.navbar-joostory .navbar-toggle { border-color: #333 }
.navbar-joostory .navbar-toggle .icon-bar { background-color: #FFF }
.navbar-joostory .navbar-collapse, .navbar-joostory .navbar-form { border-color: #101010}
.navbar-joostory .dropdown-menu { background-color:rgba(64,64,64,0.9); border:0 }
.navbar-joostory .dropdown-menu > li > a { color:#EEF; }
.navbar-joostory .dropdown-menu > li > a:focus,
.navbar-joostory .dropdown-menu > li > a:hover { color:#f9dc41; background-color:transparent }

.contents { padding-top:20px }
.content { position:relative; color:#333; line-height:1.8em; background-color:#fff;
  border:1px solid #ddd; border-radius:8px; margin-bottom:50px; padding:15px 20px 20px;
  box-shadow:#aaa 1px 1px 3px }
.content .media { padding: 5px 0; margin:0 0 10px; text-align:center; }
.content img { max-width:100%; height:auto }
.content p { margin: 0 0 20px; }
.content p img { display:block;margin:0 auto; max-width:100%; height:auto }
.content ul { padding-bottom:10px; }
.content li a:hover { color:#f9dc41;}
.content h1 { font-size:28px; margin: 5px 0 25px; }
.content h2 { font-size:18px }
.content h3 { font-size:16px }
.content h4 { font-size:14px }
.content h5 { font-size:12px }
.content h6 { font-size:12px }

.content h1 a { color:#333 }
.content .link a { display:block; padding:15px; background-color:#fafafa; color:#333; margin-bottom:20px }
.content .link a h1 { margin-bottom:5px; }
.content .link a em { display:block; color:#666; margin-bottom:20px; }
.content .link a abbr { font-size:12px; color:#999 }
.content pre { padding: 0; border:none; }
.content pre code { padding:15px }
.content pre.prettyprint { margin: 1em auto; padding: 1em; border-radius:8px; word-wrap:initial; word-break:initial }
.content pre.prettyprint code { white-space: pre }
.content figure { margin:1em 0; text-align:center }

.no-content { text-align:center; padding: 150px 0; font-size:24px; font-weight:100 }

.post_date abbr a { display:block; font-size:11px; color:#666; font-weight:200;
  padding: 2px 10px; position:absolute; background-color:#f9dc41; width:120px }

@media (min-width: 940px) {
  .post_date abbr a {
    left:-113px; top:20px; box-shadow:#aaa -1px 1px 3px;
    transition:transform 0.1s ease-in-out 0s;
    -webkit-transform:rotate(5deg);transform:rotate(5deg) }
  .post_date abbr a:hover { -webkit-transform:rotate(0deg);transform:rotate(0deg) }
}

@media (max-width: 940px) {
  .post_date abbr a {
    right: -5px; top: 5px; box-shadow:#aaa 1px 1px 3px;
    text-align:right;
    opacity: 0.7; z-index: 1;
    transition: opacity 0.1s ease-in-out 0s;
    -webkit-transition: opacity 0.1s ease-in-out 0s
  }
  .post_date abbr a:hover { opacity: 1 }
}

@media (min-width: 767px) {
  .navbar-form { padding-right:0 }
}

@media (max-width: 767px) {
  .navbar-right { margin-top:0; margin-bottom:0 }
}

.post_meta { margin:30px 0 10px; font-size:12px }
.tags_title { margin-right:10px }
.post_comments { margin:30px 0 10px; }

.label-tag { background-color:#aaa; font-size:100%; margin-right:5px }
.label-tag-active,
a:hover .label-tag { color:#666; background-color:#f9dc41 }

.page-header { border:0; margin:0 0 20px }
.page-header h3 { margin-top:0 }

.loader { padding: 150px 0; text-align: center }

.footer { padding:30px 0 80px; font-size:11px; font-weight:100 }
